[Unit]
Description=Prometheus Blackbox Exporter
After=network.target

[Service]
ExecStart=/usr/local/bin/blackbox_exporter --config.file=/etc/blackbox.yml --web.listen-address=:80
ExecStop=killall blackbox_exporter
Restart=always
